/.idea
/Stats.xcodeproj/project.xcworkspace/xcuserdata
/Stats.xcodeproj/xcuserdata/ned.xcuserdatad/xcschemes/StatsViewModelTests.xcscheme
/Stats.xcodeproj/xcuserdata/ned.xcuserdatad/xcschemes/NetworkServiceTests.xcscheme
